In [100]:
#pip install mysql-connector-python

In [101]:
import mysql.connector
from mysql.connector import Error
import pandas as pd

In [102]:
def create_server_connection(host_name,user_name,user_password):
    connection=None
    try :
        connection=mysql.connector.connect(host=host_name,user=user_name,passwd=user_password)
        print("MySql Database connection Successful")
    except Error as err:
        print(f"Error: '{err}""")
    return connection
#put your MySQL terminal password

pw="neuralnexus@01"
#DataBase Name
db="mysql_python"
connection=create_server_connection("127.0.0.1","neuralnexus",pw)

MySql Database connection Successful

In [103]:
#Create mysql_python

def create_database(connection,query):
    cursor=connection.cursor()
    try:
        cursor.execute(query)
        print("Database create succefully")
    except Error as err:
        print(f"Error: '{err}'")
create_database_query="Create database mysql_python"
create_database(connection,create_database_query)

Error: '1007 (HY000): Can't create database 'mysql_python'; database exists'

In [104]:
#Connect to Database
def create_db_connection(host_name,user_name,user_password,db_name):
      connection=None
      try:
        connection=mysql.connector.connect(
            host=host_name,
            user=user_name,
            passwd=user_password,
            database=db_name
        )
        print("MySql Database Conenction Successful")
      except Error as err:
        print(f"Error: '{err}'")
      return connection

In [105]:
def execute_query(conenction,query):
    cursor=connection.cursor()
    try:
        cursor.execute(query)
        connection.commit()
        print("Query was succesful")
    except Error as err:
        print(f"Error: '{err}'")

In [106]:
create_orders_table="""
create table orders(order_id int primary key,
customer_name varchar(30) not null,
product_name varchar(20) not null,
date_ordered date,
quantity int,
unit_price float,
phone_number varchar(20));
"""
#conenct to DB
connection=create_db_connection("127.0.0.1","neuralnexus",pw,db)
execute_query(connection,create_orders_table)

MySql Database Conenction Successful
Error: '1050 (42S01): Table 'orders' already exists'

In [115]:
#droping table
drop_orders_table="""
DROP TABLE IF EXISTS orders;
"""
#conenct to DB
connection=create_db_connection("127.0.0.1","neuralnexus",pw,db)
execute_query(connection,create_orders_table)

MySql Database Conenction Successful
Error: '1050 (42S01): Table 'orders' already exists'

In [108]:
#insert Data
data_orders="""
insert into orders value(101,"Manish","Laptop","2018-06-02",2,800,"8952545225")
"""
connection=create_db_connection("127.0.0.1","neuralnexus",pw,db)
execute_query(connection,data_orders)

MySql Database Conenction Successful
Error: '1062 (23000): Duplicate entry '101' for key 'orders.PRIMARY''

In [109]:
def read_query(connection,query):#read query and dispkay result
    cursor =connection.cursor()
    result=None
    try:
        cursor.execute(query)
        result=cursor.fetchall()
        return result
    except Error as err:
        print(f"Error: '{err}'")

In [110]:
#using the select statement
q1="""select * from orders"""
connection=create_db_connection("127.0.0.1","neuralnexus",pw,db)
results=read_query(connection,q1)
for result in results:
    print(result)

MySql Database Conenction Successful
(101, 'Manish', 'Laptop', datetime.date(2018, 6, 2), 2, 800.0, '8952545225')

In [111]:
q2="""select customer_name,phone_number from orders"""
connection=create_db_connection("127.0.0.1","neuralnexus",pw,db)
results=read_query(connection,q1)
for result in results:
    print(result)

MySql Database Conenction Successful
(101, 'Manish', 'Laptop', datetime.date(2018, 6, 2), 2, 800.0, '8952545225')

In [112]:
q3="""select year(date_ordered) from orders"""
connection=create_db_connection("127.0.0.1","neuralnexus",pw,db)
results=read_query(connection,q1)
for result in results:
    print(result)

MySql Database Conenction Successful
(101, 'Manish', 'Laptop', datetime.date(2018, 6, 2), 2, 800.0, '8952545225')

In [113]:
q4="""select distinct year(date_ordered) from orders"""
connection=create_db_connection("127.0.0.1","neuralnexus",pw,db)
results=read_query(connection,q1)
for result in results:
    print(result)

MySql Database Conenction Successful
(101, 'Manish', 'Laptop', datetime.date(2018, 6, 2), 2, 800.0, '8952545225')

In [114]:
q5="""select * from orders
where date_ordered < '2010-02-11'
"""
connection=create_db_connection("127.0.0.1","neuralnexus",pw,db)
results=read_query(connection,q1)
for result in results:
    print(result)

MySql Database Conenction Successful
(101, 'Manish', 'Laptop', datetime.date(2018, 6, 2), 2, 800.0, '8952545225')